{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Edit Survey Project" %}{% endblock %}

{% block content %}

   {% if error %}
    {{ error }}
    {% endif %}

    <h3>{% trans "Edit Survey Project:" %}</h3>

     <form action="/sms/save_project" method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <p><input type="submit" value="Save Project" /></p>
     </form>

     <form action="/sms/messages_for_project/{{form.id.value}}/" method="post">
       {% csrf_token %}
      <p><input type="submit" value="View Messages For Project" /></p>
     </form>

     <form action="/sms/generate_messages/{{form.id.value}}/" method="post">
       {% csrf_token %}
      <p><input type="submit" value="Generate Messages For Project" /></p>
     </form>

     <form action="/sms/delete_messages/{{form.id.value}}/" method="post">
       {% csrf_token %}
      <p><input type="submit" value="Delete All Messages For Project" /></p>
     </form>

     <p>&nbsp;</p>
     <p>&nbsp;</p>

     <form action="/sms/delete_project/{{form.id.value}}/" method="post">
       {% csrf_token %}
      <p><input type="submit" value="Delete Project" /></p>
     </form>

{% endblock %}
